.wrapper {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    cursor: pointer;
    padding-bottom: 16px;
}
.label {
    margin-top: 16px;
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.75);
    font-family: var(--font-family);
    font-weight: 600;
}
.account-item {
    display: flex;
    padding: 8px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 4px;
        transition: background-color 200ms ease-in-out 0s;
    }
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.item-info {
    flex: 1;
    margin-left: 12px;
}
.nick-name {
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--text-color);
}
.check {
    margin-left: 6px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    line-height: 1;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
}
.more-btn {
    color: rgb(254, 44, 85);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    cursor: pointer;
    padding: 6px 0px 0 6px;
}
